.container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
  min-height:600px;
}

.footer {
  background-color: #f5f5f5;
}

.question{
    border: 1px solid rgba(86, 61, 124, .2);
    padding: .5em .8em .8em;
}

.question:nth-child(odd){
    background: rgba(0,0,0,.025);
}

.questions-title{
    margin: 20px 0;
}

.questions-title span{
    font-weight: 300;
}

.extra-padding{
    padding-top:15px;
}

.start{
    margin-top: 30px;
}

.next{
    text-align: right;
    padding-right: 0;
}

.github{
    margin-top: 15px;
    padding: 10px 0;
    text-align: center;
}

.thank-you{
    margin-top: 25px;
}

.page-count{
    padding: 0 10px;
}

.alert strong {
    font-weight: normal;
}

.answer-buttons {
    padding: 1em;
    text-align: right;
}

.answer-buttons > div {
    display: inline-block;
    margin: .3em;
}

.explanation {
    display: block;
    width: 100%;
    padding-bottom: 0;
}

.extra-left {
    margin-left: 10px;
}

.captcha{
    padding: 0;
}

#g-recaptcha-response {
    display: block !important;
    position: absolute;
    margin: -78px 0 0 0 !important;
    width: 302px !important;
    height: 76px !important;
    z-index: -999999;
    opacity: 0;
}

.fa {
		padding: 20px;
		font-size:30px;
		width: 30px;
		text-align: center;
		text-decoration: none;
		border-radius: 50%;
}

.fa:hover {
		opacity: 0.7;
}
