[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
jupyter = "*"
ipython = "*"
ipdb = "*"
graphviz = "*"
black = "*"
nbstripout = "*"

[packages]
flask = "*"
pandas = "*"
sklearn = "*"
xgboost = "*"
numpy = "*"
matplotlib = "*"
joblib = "*"
requests = "*"

[requires]
python_version = "3.6"
