<!DOCTYPE html>
<html>
<head>
    <title>Recomendación de candidato 2019</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<nav class="navbar navbar-light bg-light">
    <h1 class="navbar-brand mb-0 h1">aquienvoto.uy</h1>
</nav>
<div class="container">
    <h2 class="mt-5">Recomendación de candidato</h2>
    <h3 class="lead mb-5">¿A quién votan los más parecidos a vos?</h3>

    <div class="alert alert-secondary" role="alert">
        <p>
            aquienvoto.uy recopila información basada en las respuestas de los usuarios y mediante aprendizaje
            automático genera recomendaciones de candidatos para las <strong>elecciones presidenciales de Uruguay 2019.</strong>
        </p>

        <p>
            Cuanto más respondamos, mejor.
        </p>


    </div>

    <form method="post" action="/">

        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4 start">
                <input type="submit" value="Comenzar" class="btn btn-primary btn-lg">
            </div>

        </div>

    </form>


</div>
<footer class="footer">
    <div class="github">
        <span class="text-muted">
            ¿Sabés programar? Hacé un fork en 
            <a href="https://github.com/johnblanco/predictor_electoral">Github.</a>
        </span>
    </div>
</footer>

</body>
</html>
