<!DOCTYPE html>
<html>
<head>
    <title>Predictor de candidato</title>
</head>
<body>

<h1>Recomendacion de candidato a partir de tus preferencias</h1>
<p>A quien votan los que piensan mas parecido a vos?</p>

<p><strong>El modelo necesita mas datos para empezar a hacer predicciones.
    Indicando tu candidato preferido y contestando el cuestionario contribuis enormemente.</strong></p>

<form method="post" action="/">
    <label>A que candidato votarias?</label>

    <select name="candidato">
        {% for c in candidatos %}
            <option value="{{loop.index}}">{{c}}</option>
        {% endfor %}
    </select>

    {% for p in preguntas %}
    <p>{{p}}</p>
    <label>
        <span>
        <input name="pregunta_{{loop.index}}" type="radio" value="0">
        Totalmente en desacuerdo
        </span>
    </label>
    <label>
        <span>
        <input name="pregunta_{{loop.index}}" type="radio" value="1">
        En desacuerdo
        </span>
    </label>
    <label>
        <span>
        <input name="pregunta_{{loop.index}}" type="radio" value="2">
        De acuerdo
        </span>
    </label>
    <label>
        <span>
        <input name="pregunta_{{loop.index}}" type="radio" value="3">
        Totalmente de acuerdo
        </span>
    </label>
    {% endfor %}

    <p><input type="submit" value="Enviar"></p>
</form>

</body>
</html>
