<!DOCTYPE html>
<html>
<head>
  <title>Recomendación de candidato 2019</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
<nav class="navbar navbar-light bg-light">
    <span class="navbar-brand mb-0 h1">aquienvoto.uy</span>
</nav>
<div class="container">
    <div class="row">
        <h1 class="mt-5">Recomendación de candidato</h1>
        <p class="lead">¿A quién votan los que piensan más parecidos a vos?</p>

        <div class="alert alert-secondary explanation" role="alert">
            <p>
                Elegí respuestas del 1 al 5.
            </p>
            <p>
                1 es en desacuerdo, 3 es neutral (o no lo sé) y 5 es totalmente de acuerdo.
            </p>
        </div>
    </div>


    <form method="post" action="/">

        <div class="row">
            {% for category in preguntas %}
            <h4 class="questions-title"><span>Categoría {{page}}/{{num_categories}}:</span> {{category.subject}}</h4>
        </div>


        {% for question in category.questions %}
        <div class="row question mb-4">
            <div class="col-md-6">
                <label class="extra-padding">{{question.text}}</label>
            </div>
            <div class="col-md-6 answer-buttons">
                {% for answer in respuestas %}
                <div class="custom-control custom-radio">

                    <input
                            type="radio"
                            name="{{question.id}}"
                            id="{{question.id}}_{{loop.index}}"
                            class="custom-control-input"
                            value="{{loop.index}}"
                            required>

                    <label
                            class="custom-control-label"
                            for="{{question.id}}_{{loop.index}}">
                        {{answer}}
                    </label>
                </div>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
        {% endfor %}

        {% if page == num_categories %}
        <div class="row">
          <div class="col-md-6 captcha">
            <div class="g-recaptcha" data-sitekey="6Le45ZEUAAAAAA60zuycZVbY5qpAbBUBGXrWWwwv"></div>
          </div>
        </div>
        {% endif %}

        <div class="row">
            <div class="col-md-8"></div>
            <div class="col-md-4 next">
                <span class="page-count"></span><input type="submit" value="Siguiente"
                                                                   class="btn btn-primary btn-lg">
            </div>

        </div>

      <script src="https://www.google.com/recaptcha/api.js" async defer></script>

    </form>


</div>
<footer class="footer">
    <div class="github">
        <span class="text-muted">
            Todo lo que necesitás saber de esta app esta en el
            <a href="https://github.com/johnblanco/predictor_electoral/blob/master/README.md">README</a>
        </span>
    </div>
</footer>
<script>
window.onload = function() {
    var $recaptcha = document.querySelector('#g-recaptcha-response');

    if($recaptcha) {
        $recaptcha.setAttribute("required", "required");
    }
};
</script>


</body>
</html>
