h1,h2{
	text-align: center;
}

.msg-inicial{
	padding: 5% 2% 5% 2%;
	background-color: #5894C2;
	margin-top: 2%;
}

hr{
	width: 50%;
	background-color: gold;
}

.pregunta{
	margin: 2% 2% 2% 2%;
	padding-left: 2%;
	border-style: solid;
	border-color: gold;
	border-radius: 5px;
}

.pregunta:nth-child(even){
	background-color: #B2D5EF;
}

.botones{
	text-align: center;
	margin-bottom: 5%;
}

.btn-warning{
	text-align:center;
}

