<!DOCTYPE html>
<html>
<head>
    <title>Recomendación de candidato 2019</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<nav class="navbar navbar-light bg-light">
    <span class="navbar-brand mb-0 h1">aquienvoto.uy</span>
</nav>
<div class="container">
    <div class="alert alert-success thank-you" role="alert">
        Gracias por completar el cuestionario.
    </div>

    <h2>Opcional</h2>
    <p>¿Deseas dejarnos tu e-mail para que cuando este listo
        el modelo podamos avisarte la predicción que hubiera hecho contigo?</p>

    <form method="post" action="/add-mail">
        <input type="email" placeholder="Ingresa tu e-mail" required name="email">
        <input type="submit" value="Si" class="btn btn-primary">
        <a href="/" class="btn btn-primary">No</a>
    </form>


</div>


</body>
</html>
