<!DOCTYPE html>
<html>
<head>
    <title>Recomendación de candidato 2019</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<nav class="navbar navbar-light bg-light">
    <span class="navbar-brand mb-0 h1">aquienvoto.uy</span>
</nav>
<div class="container">
    <div class="alert alert-success thank-you mb-5" role="alert">
        Gracias por completar el cuestionario.
    </div>

    <h2 class="mb-5">El candidato que contesto más parecido a vos es <span class="badge badge-secondary">{{ predictions['politicians_model']['candidate_name'] }}</span></h2>

    {% if predictions['people_model'] %}
        <h2 class="mb-5">La gente que piensa más parecido a vos elige a <span class="badge badge-secondary">{{ predictions['people_model']['candidate_name'] }}</span></h2>
    {% endif %}

    <div class="row justify-content-md-center start">
        <div class="col-md-auto">
            <a href="https://wa.me/?text=www.aquienvoto.uy" class="fa fa-whatsapp"></a>
            <a href="https://www.facebook.com/sharer/sharer.php?u=www.aquienvoto.uy" class="fa fa-facebook"></a>
            <a href="https://twitter.com/home?status=www.aquienvoto.uy" class="fa fa-twitter"></a>
            <a href="https://www.linkedin.com/shareArticle?mini=true&url=www.aquienvoto.uy&title=%C2%BFA%20qui%C3%A9n%20votan%20los%20que%20piensan%20parecido%20a%20m%C3%AD?&summary=&source=" class="fa fa-linkedin"></a>
            <a href="https://www.reddit.com/submit?url=www.aquienvoto.uy&title=Recomendaci%C3%B3n%20de%20candidato%202019" class="fa fa-reddit"></a>
        </div>
    </div>

    <hr/>

    <p>
        Cuanto más respondamos, mejor. Compartí esta aplicación para ir mejorando los resultados.
    </p>
    <p>
        Para una mejor predicción guardate esta pagina en favoritos y accedé más cerca de las elecciones.
    </p>

    <hr/>

    <p>
        Si nos indicás tu candidato favorito ayudás a que las predicciones mejoren.
    </p>

    <form method="post" action="/update_quiz">

        <div class="row">
            <div class="col-md-4">
                <label for="candidato">¿Cuál es tu preferido?</label>
            </div>
            <div class="col-md-8">
                <select required name="candidato" id="candidato">
                    <option disabled="disabled" selected hidden value="">
                      -- Elige un candidato --
                    </option>
                    {% for party in candidatos %}
                        <optgroup label="{{party.party}}">
                            {% for candidate in party.candidates %}
                                    <option value="{{candidate.id}}"> {{candidate.name}} </option>
                            {% endfor %}
                        </optgroup>
                    {% endfor %}
                </select>

            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
            <input type="submit" value="Enviar" class="btn btn-primary">
            </div>

        </div>
    </form>

    <div class="alert alert-secondary mt-5" role="alert">
        <p>
            <small>Recordá que aquienvoto.uy es tan solo entretenimiento y la recomendación proviene de un modelo estadístico impreciso.<br/>
        Es tu deber cívico revisar los programas de todos los candidatos para votar.</small>

        </p>
    </div>

    <hr/>


    <p>

    </p>

</div>


</body>
</html>
