<!DOCTYPE html>
<html>
<head>
    <title>Predictor de candidato</title>

    <link href="https://unpkg.com/nes.css/css/nes.min.css" rel="stylesheet" /> <!-- nes style framework -->
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet"> <!-- fuente -->

    <style>
    	body{
			family-font: "Press Start 2P";
			padding: 1% 10% 1% 10%;
		}

		.is-dark{
			margin-bottom: 2%;
		}

		.nes-btn{
			margin-top: 2%;
		}
	</style>

</head>
<body>

<h1>Recomendación de candidato a partir de tus preferencias</h1>
<p>A quien votan los que piensan más parecido a vos?</p>

{% if modelo_listo %}
<div class="nes-container is-dark">
    <p>Contesta las siguientes preguntas y te sugerimos un candidato.
    </p>
</div>
{% else %}
<div class="nes-container is-dark"><p>El modelo necesita más datos dar recomendaciones.
    Indicando tu candidato preferido y contestando el cuestionario contribuis enormemente.</p></div>
{% endif %}


<form method="post" action="/">
	<div class="nes-container with-title">
    <label class="title">A que candidato votarias?</label>

    {% if not modelo_listo %}
    <select required name="candidato">
        {% for c in candidatos %}
            <option value="{{loop.index}}">{{c}}</option>
        {% endfor %}
    </select>
	</div>
    {% endif %}

    {% for p in preguntas %}
    <div class="nes-container with-title">
    <h2 class="title">{{p}}</h2>
    <label>
        <span>
        <input name="pregunta_{{loop.index}}" type="radio" value="0" required>
        Totalmente en desacuerdo
        </span>
    </label>
    <label>
        <span>
        <input name="pregunta_{{loop.index}}" type="radio" value="1" required>
        En desacuerdo
        </span>
    </label>
    <label>
        <span>
        <input name="pregunta_{{loop.index}}" type="radio" value="2" required>
        De acuerdo
        </span>
    </label>
    <label>
        <span>
        <input name="pregunta_{{loop.index}}" type="radio" value="3" required>
        Totalmente de acuerdo
        </span>
    </label>
	</div>
    {% endfor %}

    <p>
        <input type="submit" value="Guardar" class="nes-btn is-success">
        <input type="reset" value="Cancelar" class="nes-btn is-error">
    </p>

</form>

</body>
</html>
