<!DOCTYPE html>
<html>
<head>
    <title>Predictor de candidato</title>

    <link href="https://unpkg.com/nes.css/css/nes.min.css" rel="stylesheet"/> <!-- nes style framework -->
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet"> <!-- fuente -->

    <style>
    	body{
			family-font: "Press Start 2P";
			padding: 1% 10% 1% 10%;
		}

		.is-dark{
			margin-bottom: 2%;
		}

		.nes-btn{
			margin-top: 2%;
		}

    </style>

</head>
<body>

<div class="nes-container is-dark">
    <p>Gracias por completar el cuestionario.</p></div>
    <a href="/" class="nes-btn is-success">Volver al inicio</a>


</body>